packages:
  yum:
    jq: []
files:
  "/tmp/httpd_main.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      Listen 443 https
      
      <VirtualHost *:80>
       ServerName "www.${APACHE_HOSTNAME}"
       ServerAlias "${APACHE_HOSTNAME}"
       <If "%{SERVER_PORT} != '443'">
          Redirect permanent / https://www.${APACHE_HOSTNAME}/
       </If>
      </VirtualHost>

      <VirtualHost *:443>
       ServerName "www.${APACHE_HOSTNAME}"
       ServerAlias "${APACHE_HOSTNAME}"
       <If "req('Host') != 'www.${APACHE_HOSTNAME}'">
          Redirect permanent / https://www.${APACHE_HOSTNAME}/
       </If>
       SSLEngine on
       SSLCertificateFile /etc/letsencrypt/live/${APACHE_HOSTNAME}/fullchain.pem
       SSLCertificateKeyFile /etc/letsencrypt/live/${APACHE_HOSTNAME}/privkey.pem
      </VirtualHost>
  "/usr/local/bin/httpd_main.sh":
    mode: "000770"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if [ ! -f /etc/httpd/conf/httpd.conf_aws_orig ]; then
        cp /etc/httpd/conf/httpd.conf /etc/httpd/conf/httpd.conf_aws_orig
      fi
      cat /etc/httpd/conf/httpd.conf_aws_orig > /etc/httpd/conf/httpd.conf 
      cat /tmp/httpd_main.conf >> /etc/httpd/conf/httpd.conf
commands:
  01_httpd_main:
    command: "/usr/local/bin/httpd_main.sh"